/* body section and misc classes/elements for styling */
:root {
  --wolverineYellow: #ffcb05;
  --wolverineBlue: #00274c;
  --wolverineWhite: white;
  --marginZero: 0;
  --textDecorationNone: none;
  --centerAlign: center;
  --flexDirection: column;
}

body {
  margin: var(--marginZero);
  background-color: var(--wolverineBlue);
  color: var(--wolverineYellow);
}

h2 {
  border-top: 5px double var(--wolverineYellow);
  border-bottom: 5px double var(--wolverineYellow);
  border-radius: 15px;
  width: 50%;
  text-align: center;
}

.section-heading {
  margin-top: var(--marginZero);
}

/* navbar section */
.nav-bar {
  color: var(--wolverineYellow);
}

.wolverine-nav {
  overflow: hidden;
  background-color: var(--wolverineWhite);
}

.wolverine-nav a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: var(--textDecorationNone);
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: var(--wolverineBlue);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.wolverine-nav a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--wolverineYellow);
  color: var(--wolverineBlue);
  border: 3px solid var(--wolverineWhi);
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: var(--wolverineYellow);
  min-width: auto;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: var(--wolverineYellow);
  background-color: var(--wolverineBlue);
  padding: 12px 16px;
  text-decoration: var(--textDecorationNone);
  display: block;
  text-align: var(--centerAlign);
}

.dropdown-content a:hover {
  background-color: var(--wolverineYellow);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* football section */
.football-section {
  display: flex;
  flex-direction: var(--flexDirection);
  align-items: var(--centerAlign);
}

/* other sports/ um social media buttons on page styling */

.social-sports-btn {
  background-color: var(--wolverineBlue);
  margin-left: 0.5rem;
  border: 3px solid var(--wolverineYellow);
  border-radius: 0.5rem;
}

.social-sports-btn a {
  color: var(--wolverineYellow);
  text-decoration: var(--textDecorationNone);
}

.social-sports-btn:hover {
  background-color: var(--wolverineYellow);
}

.social-sports-btn a:hover {
  color: var(--wolverineBlue);
}

/* other sports section */
.um-other-sports {
  display: flex;
  flex-direction: var(--flexDirection);
  align-items: var(--centerAlign);
}

.um-social-media {
  display: flex;
  flex-direction: var(--flexDirection);
  align-items: var(--centerAlign);
}

/* michigan basketball section */
.basketball-section {
  display: flex;
  flex-direction: var(--flexDirection);
  align-items: var(--centerAlign);
}
/* footer section */
footer {
  background-color: var(--wolverineYellow);
  color: var(--wolverineBlue);
  display: flex;
  flex-direction: var(--flexDirection);
  align-items: var(--centerAlign);
  text-align: var(--centerAlign);
}

.go-blue-footer {
  margin-top: var(--marginZero);
  margin-bottom: var(--marginZero);
}

.wolverines-corner-footer {
  margin-bottom: var(--marginZero);
}

.email-footer {
  margin-top: var(--marginZero);
  margin-bottom: var(--marginZero);
}

.footer-bottom {
  margin-bottom: var(--marginZero);
}

.footer-michigan-logo {
  margin-bottom: 1rem;
  font-family: Michigan;
  font-size: 4rem;
}

footer a {
  font-size: 0.625rem;
  color: var(--wolverineBlue);
  text-decoration: var(--textDecorationNone);
}

footer a:hover {
  color: var(--wolverineBlue);
  border: 0.5px solid var(--wolverineBlue);
}

.footer-nav {
  background-color: var(--wolverineWhite);
  width: 100%;
}

.footer-nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
